/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2013, 10:15:22 PM
    Author     : KOsTErZ
*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
