/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2014, 1:05:27 PM
    Author     : KOsTErZ
*/
.body table th .product{
background-color: #fff;
color: #fff;

.header-area{
    background-color: #2E2E2E;
    height: 70px;
}

.navigation-area{
    background-color: #848484;
    height: 5px;
}

.side-area{
    background-color: #E6E6E6;
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%
}

.menu-item h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    background: #A4A4A4;

    background: #0173BF; /* Old browsers */
    background: -moz-linear-gradient(top, #0173BF 0%, #0060A1 44%, #00497A 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0173BF), color-stop(44%,#0060A1), color-stop(100%,#00497A)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0173BF 0%,#0060A1 44%,#00497A 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0173BF 0%,#0060A1 44%,#00497A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0173BF 0%,#0060A1 44%,#00497A 100%); /* IE10+ */
    background: linear-gradient(top, #0173BF 0%,#0060A1 44%,#00497A 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0173BF', endColorstr='#00497A',GradientType=0 ); /* IE6-9 */
}

.menu-item h4 a {
    color: white;
    display: block;
    text-decoration: none;
    width: 200px;
}
.alpha p {
    font-size: 13px;
    padding: 8px 12px;
    color: #aaa;
}

.menu-item ul {
    background: #00497A;
    font-size: 13px;
    line-height: 10px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
}

.menu-item ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaa;
    display: block;
    width: 200px;
}

/*li Styles*/
.menu-item li {
    border-bottom: 1px solid #eee;
}

.menu-item li:hover {
    background: #eee;
}

.menu-item ul {
    background: #00497A;
    font-size: 13px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    border-bottom: none;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover ul {
    height: 80px;
}

