#margin-top{
	margin-top: 2%;
}

.row .row2{
    margin: 0 -16px 0 -16px;
    width: 100%;
    display: inline-block;
}

.panel-no_border {
	margin-top: 5%;
	margin-bottom: 20px;
	background-color: #fff;
	border-color: #D7D7D7;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
#border{
	padding: 3%;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
}

.bottom{
	position: absolute;
	bottom: 0;
	padding: 2%;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #fff;
	cursor: default;
	background-color: #34495e;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.nav-tabs>li>a {
	background-color: #D7D7D7;
	margin-right: 2px;
	line-height: 1.428571429;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.book_cart {
	position: relative;
	margin:1.5%;
	background-color: #fff;
	border-color: #D7D7D7;
	border-radius: 2px;
	height: 320px;
}

.panel {
	border-color: #D7D7D7;
}

.footer
{
  float: bottom;
  margin-top: 5%;
  padding:1%;
}

#well_menu {
    min-height: 20px;
    padding: 1%;
    margin-bottom: 10px;
}

.nav_left_menu
{
    margin-top: 5%;
    float: left;
    width: 100%;
    overflow: hidden;
    padding-top: 5%;
    border:0px solid;
    border-radius: 2px;
}
.nav_right_menu
{
    margin-top: 5%;
    float: right;
    width: 100%;
    overflow: hidden;
    padding-top: 5%;
    border:0px solid;
    border-radius: 2px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;-
}

#small_field
{
    height: 27px;
    font-size: 11px;
    line-height: 14px;
}
#cart_content
{
    display: inline-block;
    vertical-align: bottom;
    width: 40%;
}
#bck_dark{
    color:#c4d2df;
    padding:1%;
}

#nav_padding
{
    padding: 1%;
    margin-top: 0.1%;
    border:0px solid;
    border-radius:3px;
}
#right
{
    text-align: right;
}
.navbar-inverse-kosterz
{
    background-color: #34495e;
    border-radius: 3px;
}
.bg
{
    background-image: url('./bg/Wood.jpg');
    background-size: cover;
    border-style: double;
    padding-left: 8%;
    padding-top: 3%;
}

.green
{
    color:green;
}
.red
{
    color:red;
}